.alert-box {
  padding: 20px 32px 20px 20px;
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0;
  position: relative;

  p {
    margin: 0;
  }

  &--info {
    background: lighten($color-info, 25%);
    color: darken($color-info, 20%);
  }

  &--success {
    background: lighten($color-success, 20%);
    color: darken($color-success, 20%);
  }

  &--warning {
    background: lighten($color-warning, 20%);
    color: darken($color-warning, 20%);
  }

  &--error {
    background: lighten($color-error, 20%);
    color: darken($color-error, 20%);
  }

}

.alert-box__close {
  background: transparent;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4px;
  right: 4px;
  color: rgba(#000, 0.7);
  cursor: pointer;
}