{% extends 'layouts/default.html' %}
{% set page_title = 'Articles' %}
{% block content %}
<div class="container">
    <h1 class="h1">Les derniers articles</h1>
</div>
<div class="container">
    <ul class="posts-list row">
        {% for post in posts %}
        <li class="col-xs--12 col-ml--6 col-l--4">
            <a class="card" href="{{post.path}}" title="{{post.title}}">
                <div class="card__inner">
                    {% if post.thumbnail and post.thumbnail !== null %}
                    <div class="card__image">
                        <img src="{{posts_images_dir + '/' + post.thumbnail | replace('.jpeg', '') + '@768.jpeg'}}" alt="{{post.title}}">
                    </div>
                    {% endif %}
                    <div class="card__elements">

                        <header class="card__header">
                            <h3 class="title--3 card__title">
                                {{post.title}}
                            </h3>
                            <h4 class="card__category">{{post.category}}</h4>
                            <div class="card__infos">
                                <span class="card__infos__date">{{post.date | replace(r/\s(\d{1,2}):(\d{1,2})$/, '')}}</span>
                            </div>
                        </header>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}