{% extends 'layouts/two-columns-sidebar-right.html' %}

{% block content %}
<h1 class="h1">Tous les articles</h1>
<ul class="posts-list post-list--block">
    {% for post in posts %}
    <li class="post-list__item">
        <div class="card card--block">
            <div class="card__inner">
                <div class="card__image">
                    {% if post.thumbnail and post.thumbnail !== null %}
                    <img src="{{posts_images_dir + '/' + post.thumbnail | replace('.jpeg', '') + '@1280.jpeg'}}" alt="{{post.title}}">
                    {% endif %}
                </div>
                <div class="card__elements">

                    <header class="card__header">

                        <h3 class="h3 card__title">
                            {{post.title}}
                        </h3>
                        <h4 class="card__category">{{post.category}}</h4>
                        <div class="card__infos">
                            <span class="card__infos__date">{{post.date | replace(r/\s(\d{1,2}):(\d{1,2})$/, '')}}</span>
                        </div>
                    </header>
                    {% if post.exerpt %}
                    <section class="card__body">
                        <p class="card__resume">
                            {{post.exerpt}}
                        </p>
                        <div class="text-right">
                            <a href="{{post.path}}" title="{{post.title}}" class="btn btn--prime btn--rounded">Lire la suite</a>
                        </div>
                    </section>
                    {% endif %}
                </div>

            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block sidebar %}

    <h2 class="h2">Catégories</h2>
    <ul class="list sidebar-list cat-list">
    {%- for cat in taxonomies.categories %}
    <li><a href="/categories?cat={{cat}}">{{cat.title}}</a></li>
    {% endfor -%}
    </ul>
{% endblock %}