{% extends 'layouts/default.html' %}
{% set page_title = 'Articles' %}
{% block content %}
<div class="container container">
    <h1 class="h1">Les derniers articles</h1>
</div>
<div class="container container">
    <ul class="posts-list post-list--lines">
        {% for post in posts %}
        <li class="post-list__item">
            <a class="card card--line" href="{{post.path}}" title="{{post.title}}">
                <div class="card__inner">
                    <div class="card__image">
                        {% if post.thumbnail and post.thumbnail !== null %}
                        <img src="{{posts_images_dir + '/' + post.thumbnail | replace('.jpeg', '') + '@128.jpeg'}}" alt="{{post.title}}">
                        {% endif %}
                    </div>
                    <div class="card__elements">

                        <header class="card__header">

                            <h3 class="h3 card__title">
                                {{post.title}}
                            </h3>
                        </header>
                        {% if post.exerpt %}
                        <section class="card__body">
                            <p class="card__resume">
                                {{post.exerpt}}
                            </p>
                        </section>
                        {% endif %}
                    </div>

                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}