{% extends 'layouts/default.html' %}
{% set page_title = 'Articles' %}
{% block content %}
<div class="container">
    <h1 class="h1">Categories</h1>
</div>
<div class="container">
    <div class="loader"></div>
    <div data-module="load-content">

    </div>
</div>
{% endblock %}