{% extends 'layouts/default.html' %}

{% set page_title='Home' %}

{% block navigation %}
{% include './modules/navigation/main-navigation.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Hello world !</h1>
    </div>

{% endblock %}