.card {
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-bottom: 16px;
  transition: all 200ms ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;

  &:hover {
    border-bottom-color: $color1;
  }
}

.card__image {
  background: linear-gradient(135deg, #faeec9 0%, #e2cbc9 100%);

  img {
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
}

.card__category {
  color: $color1;
}
.card__infos__date {
  color: lighten($color-dark, 20%);
  font-size: 1.4rem;
}