#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-bottom: 30px;
  background: #212121;

  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-family: $font-sans-serif;
    font-size: 1.2rem;
    background: #212121;
    color: #424242;
    border-top: 1px solid #272727;
  }
}

.footer-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  text-align: center;
  background: #343434;
  margin-right: 10px;
  filter: grayscale(1);

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: #212121;
  }
}