.main-tag-list {
  font-family: $font-sans-serif;
  background: #fff;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}

.mtl__list {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  color: #fff;

}

.mtl__list__item {
  margin: 0 5px;
  display: inline-block;
  font-size: 0;

  .tag {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 3px;
    background: #fff;
    padding: 5px 6px;
    color: darken($color1, 20%);
    text-transform: uppercase;
  }
}