.module--navbar {
  background: #fff;
  color: $color-dark;
  border-bottom: none;
}
.m--navbar__brand {
  color: $color-dark;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(#fff, 0.2);
  text-align: center;
  background: linear-gradient(135deg, #7ee2a8 0%, mediumpurple 100%);
  
  h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
  }

  svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    fill: #fff;
  }
}
.m--navbar__list__item {
  text-transform: uppercase;
}

.m--navbar__list__item__link, .m--navbar__dropdown__btn {
  padding: 26px 16px;
}

.m--navbar__list__item__link {
  font-weight: 600;
  letter-spacing: 1px;
}

