.post-container {
  @media (min-width: $screen-l) {
/*    position: relative;
    top: -60px;
    background: #fff;
    padding: 10px 60px 0 60px;
    box-sizing: content-box;
    border-radius: 5px;*/
  }
}

.post__header {
  margin: auto;
}

.post__title {
  //color: #3498db;
}

.post__date {
  font-family: $font-sans-serif;
  color: $color-dark;
  font-size: 1.4rem;
}

.post__category {
  text-transform: uppercase;
  font-family: $font-sans-serif;
  font-size: 1.4rem;
  color: $color1;
  font-weight: 600;
  margin-top: 8px;
}

.post__thumbnail-container {
  background: linear-gradient(135deg, #e2dc95 0%, #e2918c 100%);

  img {
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
}

.post__body {
  p {
    color: #767676;
    font-size: 1.9rem;
    line-height: 3.2rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}