
.posts-list {

  &.post-list--lines {
    padding-bottom: 60px;
  }

  .card--line {
    border-bottom: 1px solid #eee;
    flex-direction: row;
    flex-wrap: wrap;

    &:hover {
      border-bottom-color: #eee;
    }

    .card__inner {
      width: 100%;
    }

    .card__elements {
      width: calc(100% - 128px);
    }

    .card__image {
      min-width: 128px;
      width: 128px;
      flex-basis: 128px;
      border-radius: 5px;
      overflow: hidden;
    }

    .card__title {
      font-size: 1.8rem;
      transform: translateX(0) translateY(0);
      transition: all 200ms ease;
      @media (min-width: $screen-ml) {
        font-size: 3rem;
      }
    }

    &:hover {
      .card__title {
        transform: translateX(3px) translateY(0);
      }
    }
  }
}