.rating-stars {
  text-align: left;
  margin: 16px auto;

  .rating {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;

    > input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    > label {
      color: #ddd;
      float: right;
      position: relative;
      cursor: pointer;
    }

    > label:before {
      content: '\2605';
      font-size: 1.6rem;
      margin: 5px;
      display: inline-block;
    }

  }

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: $color-success;  } /* hover previous stars in list */
  .rating:not(:checked) > label:active { color: darken($color-success, 10%); }

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: lighten($color-success, 30%); }
  .rating > input:checked ~ label:active { color: darken($color-success, 10%); }
}