{% extends './src/html/layouts/default.html' %}
{% set post_fm = file.frontMatter %}
{% set page_title=post_fm.title %}

{% block navigation %}
{% include './src/html/modules/navigation/main-navigation.html' %}
{% include './src/html/modules/tags/main-tag-list.html' %}
{% endblock %}

{% block content %}

<article class="post">
            <header class="post__header">
                <div class="post__thumbnail-container">
                    {% if post_fm.thumbnail and post_fm.thumbnail !== null %}
                    <img src="{{posts_images_dir + '/' + post_fm.thumbnail + '@large.jpeg'}}" alt="" class="post__thumbnail">
                    {% endif %}
                </div>
                <div class="container container--small post-container">
                    <h1 class="post__title">{{post_fm.title}}</h1>

                    <div class="post__infos">
                        <div class="post__date">{{post_fm.date | replace(r/\s(\d{1,2}):(\d{1,2})$/, '')}}</div>
                        <div class="post__category">{{ post_fm.category }}</div>
                    </div>
                </div>
            </header>

            <section class="post__body">
                <div class="container container--small">
                    {{file.contents}}
                    {% if post.tags|length > 0 %}
                    <div class="post__tags">
                        <ul class="post__tags__list taglist">
                            {% for tag in post.tags -%}
                            <li class="post__tags__list__item taglist__item">
                                <a href="#" class="label label--tag tag">{{tag}}</a>
                            </li>
                            {%- endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </section>
    </article>


<div class="other-posts">
    <div class="container">
        <div class="row">
            <div class="col--12">
                <h3 class="h3">Autres articles</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="posts-list row">
            {% if posts | length > 1 %}
            {% for post in posts %}
            {% if post.title != post_fm.title  %}
            <li class="col-xs--12 col-ml--6 col-l--4">
                <a class="card" href="{{post.path}}" title="{{post.title}}">
                    <div class="card__inner">
                        {% if post.thumbnail and post.thumbnail !== null %}
                        <div class="card__image">
                            <img src="{{posts_images_dir + '/' + post.thumbnail | replace('.jpeg', '') + '@768.jpeg'}}" alt="{{post.title}}">
                        </div>
                        {% endif %}
                        <div class="card__elements">

                            <header class="card__header">
                                <h3 class="title--3 card__title">
                                    {{post.title}}
                                </h3>
                                <h4 class="card__category">{{post.category}}</h4>
                                <div class="card__infos">
                                    <span class="card__infos__date">{{post.date | replace(r/\s(\d{1,2}):(\d{1,2})$/, '')}}</span>
                                </div>
                            </header>
                        </div>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{%  block footer %}
{% include './src/html/modules/footer/site-footer.html' %}
{% endblock %}