.taglist {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.taglist__item {
  display: inline-block;
  font-size: 1.4rem;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}