// Blocks Variables

$block-base-padding: 4rem !default;
$block-base-padding-top: $block-base-padding !default;
$block-base-padding-bottom: $block-base-padding !default;
$block-base-margin: 2rem !default;
$block-base-margin-top: $block-base-margin !default;
$block-base-margin-bottom: $block-base-margin !default;

