// Buttons variables

// Btn base values
$btn-base-padding-y: 8px !default;
$btn-base-padding-x: 12px !default;
$btn-base-font-size: 1.6rem !default;
$btn-base-font-weight: normal !default;
$btn-base-border-width: 2px !default;
$btn-base-border-color: #000 !default;
$btn-base-bg-color: #000 !default;
$btn-base-color: #fff !default;
$btn-base-transition-duration: 200ms !default;
$btn-base-box-shadow: none !default;
$btn-base-border-radius: 0 !default;
$btn-base-letter-spacing: 1px !default;

// Btn base values hover
$btn-base-bg-color--hover: #fff !default;
$btn-base-color--hover: #000 !default;

// Btn base values on focus
$btn-base-bg-color--focus: rgba($btn-base-bg-color, 0.1) !default;

// Btn sizes

//// Btn big
$btn-big-padding-y: 10px !default;
$btn-big-padding-x: 16px !default;
$btn-big-font-size: 1.9rem !default;
$btn-big-font-weight: bold !default;
$btn-big-border-width: 2px !default;

//// Btn small
$btn-small-padding-y: 5px !default;
$btn-small-padding-x: 10px !default;
$btn-small-font-size: 1.2rem !default;
$btn-small-font-weight: normal !default;
$btn-small-border-width: 2px !default;


//// Btn xxl
$btn-xxl-padding-y: 12px !default;
$btn-xxl-padding-x: 24px !default;
$btn-xxl-font-size: 2.6rem !default;
$btn-xxl-font-weight: bold !default;
$btn-xxl-border-width: 3px !default;


// Btn special colors

//// Btn prime
$btn-prime-color: #fff !default;
$btn-prime-bg-color: $color1 !default;
$btn-prime-border-color: $color1 !default;

$btn-prime-color--hover: #fff !default;
$btn-prime-bg-color--hover: lighten($color1, 5%) !default;
$btn-prime-border-color--hover: lighten($color1, 5%) !default;
$btn-prime-border-color--hover: $color1 !default;

//// Btn second
$btn-second-color: #fff !default;
$btn-second-bg-color: $color2 !default;
$btn-second-border-color: $color2 !default;

$btn-second-color--hover: #fff !default;
$btn-second-bg-color--hover: lighten($color2, 5%) !default;
$btn-second-border-color--hover: lighten($color2, 5%) !default;
$btn-second-border-color--hover: $color2 !default

// Btn rounded

//// Btn rounded base radius
$btn-rounded-border-radius: 6px !default;

//// Btn rounded small radius
$btn-rounded-border-radius--sr: 3px !default;

//// Btn rounded medium radius
$btn-rounded-border-radius--mr: 12px !default;

//// Btn rounded large radius
$btn-rounded-border-radius--lr: 100px !default;

// Btn disabled
$btn-disabled-bg-color: #eee !default;
$btn-disabled-color: #ccc !default;
$btn-disabled-border-color: #ddd !default;
$btn-disabled-cursor-style: not-allowed !default;
