// Colors variables

$color-dark: rgba(52, 52, 74, 1) !default;
$color1: rgba(204, 90, 113, 1) !default;
$color2: rgba(200, 155, 123, 1) !default;
$color3: rgba(240, 247, 87, 1) !default;
$color4: rgba(128, 71, 94, 1) !default;

// Color indicators
$color-error : #e74c3c !default;
$color-info   : #3498db !default;
$color-success: #2ecc71 !default;
$color-warning: #f1c40f !default;