// Container variables

// Base container values
$container-base-max-width: 1200px !default;
$container-base-margin: 0 auto !default;


// Container small
$container--small-max-width: 680px !default;

// Container medium
$container--medium-max-width: 960px !default;

// Container large
$container--large-max-width: 1380px !default;

// Container extra large
$container--xlarge-max-width: 1920px !default;

// Container full
$container--full-max-width: 100% !default;