// Links variables

// Link base
$link-base-color: darken($color1, 20%) !default;
$link-base-text-decoration: none !default;
$link-base-transition-duration: 200ms !default;

// Link hover
$link-base-color--hover: $color1 !default;
$link-base-text-decoration--hover: none !default;