// Navbar defaults

$navbar-border: 1px solid #eee !default;

// Navbar links
$navbar-links-font-family: $font-serif !default;
$navbar-links-font-size: 1.8rem !default;
$navbar-links-color: $color-dark !default;
$navbar-links-font-style: normal !default;
$navbar-links-font-weight: normal !default;
$navbar-links-color-hover: $color1 !default;

