<div class="module module--navbar">
    <div class="m--navbar__inner container">
        <button type="button"
                class="btn btn--navbar collapsed"
                aria-expanded="false">
            <span class="sr-only">Show / hide navigation menu</span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" class="m--navbar__brand">
            <h1>
                <span class="sr-only">{{site_title}}</span>
                <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <title>{{site_title}}</title>
                <polygon points="360,72 144,72 72,72 72,162 72,360 144,432 144,162 216,162 216,360 288,288 288,162 360,162 360,432 432,360
                    432,162 432,72 "/>
                </svg>
            </h1>
        </a>
        <nav id="main-navigation"
             class="m--navbar__nav m--navbar__nav--right">
            <ul class="m--navbar__list">
                <li class="m--navbar__list__item">
                    <a href="/" class="m--navbar__list__item__link">
                        Home
                    </a>
                </li>
                <li class="m--navbar__list__item">
                    <a href="articles.html" class="m--navbar__list__item__link">
                        Articles
                    </a>
                </li>

                <li class="m--navbar__list__item">
                    <a href="articles-cards" class="m--navbar__list__item__link">
                        Articles cards
                    </a>
                </li>

                <li class="m--navbar__list__item">
                    <a href="article-list-sidebar" class="m--navbar__list__item__link">
                        Articles list with sidebar
                    </a>
                </li>

                <li class="m--navbar__list__item">
                    <a href="categories" class="m--navbar__list__item__link">
                        Categories
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>