<div class="main-tag-list">
    <div class="container">
        <ul class="mtl__list">
            {% for tag in taxonomies.tags %}

            <li class="mtl__list__item">
                <a href="#" class="tag">{{tag}}</a>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>