// Cards

.card {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(#000, 0.2);
  margin-bottom: map_get($base_grid_configuration, gutter) * 2;
}
.card__icons {
  margin: 5px 0;
}
.card__icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.card__elements {
  padding: 20px 10px;
}

// Data list item image
.card__image {
  margin: 0 auto;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.card--line {
  .card__image {
    margin-left: 0;
    min-width: 33.3333%;
  }
}

.card__image__link {
  display: block;
}

.card__image__caption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #eee;
  font-size: 1.2rem;
  font-style: italic;
}

.card__image__caption--block {
  display: block;
}

.card__image__caption--bg--alpha {
  background: rgba($color-dark, 0.5);
}

.card__image__caption--bg {
  background: $color-dark;
}

.card__image__caption--bg--white {
  background: #fff;
  color: $color-dark;
}

.card-actions {
  margin: 24px auto 0 auto;
}


// Category title
.card__category {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

// Data list item line
.card--line {

  .card__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .card__elements {
    margin-left: 10px;
  }

  .card__tags {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .card__tags__title {
    margin: 0;
  }

  .card__taglist {
    margin-left: 5px;
    padding-left: 5px;
  }

}

.card--product {
  text-align: center;

  .rating-stars {
    text-align: center;
  }
}
