// Blocks styles

.block {
  @extend %clearfix;
}

.block--padding {
  padding-top: $block-base-padding-top;
  padding-bottom: $block-base-padding-bottom;
}

.block--margin {
  margin-top: $block-base-margin-top;
  margin-bottom: $block-base-margin-bottom;
}