// Buttons

// Btn basic
.btn {
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
  padding: $btn-base-padding-y $btn-base-padding-x;
  font-size: $btn-base-font-size;
  text-align: center;
  border-width: $btn-base-border-width;
  border-style: solid;
  border-color: $btn-base-border-color;
  border-radius: $btn-base-border-radius;
  color: $btn-base-color;
  background-color: $btn-base-bg-color;
  box-shadow: $btn-base-box-shadow;
  letter-spacing: $btn-base-letter-spacing;
  transition: all $btn-base-transition-duration ease;
  cursor: pointer;
  text-decoration: none;

  .sprite {
    display: inline-block;
    vertical-align: sub;
    width: 20px;
    height: 20px;

    svg {
      transition: all $btn-base-transition-duration ease;
      fill: $btn-base-color;
    }
  }
}

.btn:hover {
  background-color: $btn-base-bg-color--hover;
}

.btn:hover, .btn:focus, .btn:active {
  color: $btn-base-color--hover;

  .sprite {
    svg {
      fill: $btn-base-color--hover;
    }
  }
}

.btn:focus, .btn:active {
  background-color: $btn-base-bg-color--focus;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Btn prime
.btn--prime {
  background-color: $btn-prime-bg-color;
  color: $btn-prime-color;
  border-color: $btn-prime-border-color;

  &:hover, &:focus {
    background-color: $btn-prime-bg-color--hover;
    color: $btn-prime-color--hover;
    border-color: $btn-prime-border-color--hover;
    .sprite {
      svg {
        fill: $btn-prime-color--hover;
      }
    }
  }
}

// Btn prime
.btn--second {
  background-color: $btn-second-bg-color;
  color: $btn-second-color;
  border-color: $btn-second-border-color;

  &:hover, &:focus {
    background-color: $btn-second-bg-color--hover;
    color: $btn-second-color--hover;
    border-color: $btn-second-border-color--hover;

    .sprite {
      svg {
        fill: $btn-second-color--hover;
      }
    }

  }
}

// Btn small
.btn--small {
  padding: $btn-small-padding-y $btn-small-padding-x;
  font-size: $btn-small-font-size;
  border-width: $btn-small-border-width;
}

// Btn big
.btn--big {
  padding: $btn-big-padding-y $btn-big-padding-x;
  font-size: $btn-big-font-size;
  border-width: $btn-big-border-width;
}

// Btn xxl
.btn--xxl {
  padding: $btn-xxl-padding-y $btn-xxl-padding-x;
  font-size: $btn-xxl-font-size;
  border-width: $btn-xxl-border-width;
}

// Btn rounded
.btn--rounded {
  border-radius: $btn-rounded-border-radius;

  &--sr {
    border-radius: $btn-rounded-border-radius--sr;
  }

  &--mr {
    border-radius: $btn-rounded-border-radius--mr;
  }

  &--lr {
    border-radius: $btn-rounded-border-radius--lr;
  }
}

// Btn disabled
.btn--disabled, .btn:disabled, .btn.disabled {
  background-color: $btn-disabled-bg-color;
  color: $btn-disabled-color;
  border-color: $btn-disabled-border-color;
  cursor: $btn-disabled-cursor-style;

  .sprite {
    svg {
      fill: $btn-disabled-color;
    }
  }

  &:hover, &:focus, &:active {
    background-color: $btn-disabled-bg-color;
    color: $btn-disabled-color;
    border-color: $btn-disabled-border-color;
    cursor: $btn-disabled-cursor-style;

    .sprite {
      svg {
        fill: $btn-disabled-color;
      }
    }
  }
}

// Icons in buttons
.btn .sprite, .btn .ico, .btn .icon, .btn .fa {

}

.btn--navbar {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  float: right;
  position: relative;

  @media (min-width: $screen-ml) {
    display: none;
  }

  span:not(.sr-only) {
    display:  block;
    width: 75%;
    height: 2px;
    border-radius: 3px;
    background: $color-dark;
    position: absolute;
    top: 0;
    left: 12.5%;
    right: 12.5%;
    margin: 0 auto;
    transition: top 200ms 200ms ease, transform 200ms ease, opacity 200ms ease;


    &:nth-child(2) {
      top: 30%;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 47.5%;
    }

    &:nth-child(5) {
      top: 65%;
    }

  }

  &[aria-expanded="true"] {
    span:not(.sr-only) {
      transition: top 200ms ease, transform 200ms 200ms ease, opacity 200ms 100ms ease;

      &:nth-child(2) {
        top: 47.5%;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
      }

      &:nth-child(4) {
        transform: rotate(-45deg);
      }

      &:nth-child(5) {
        top: 47.5%;
        opacity: 0;
      }

    }
  }

}