// Color styles

// Text colors
.text {
  &--dark {
    color: $color-dark;
  }

  &--grey {
    color: #ccc;
  }

  &--lightgrey {
    color: #eee;
  }

  &--white {
    color: #fff;
  }

  &--black {
    color: #000;
  }

  &--prime, &--color1 {
    color: $color1;

    &--darken {
      color: darken($color1, 20%);
    }

    &--lighten {
      color: lighten($color1, 20%);
    }
  }

  &--second, &--color2 {
    color: $color2;

    &--darken {
      color: darken($color2, 20%);
    }

    &--lighten {
      color: lighten($color2, 20%);
    }

  }

  &--tertiary, &--color3 {
    color: $color3;

    &--darken {
      color: darken($color3, 20%);
    }

    &--lighten {
      color: lighten($color3, 20%);
    }

  }

  &--color4 {
    color: $color4;

    &--darken {
      color: darken($color4, 20%);
    }

    &--lighten {
      color: lighten($color4, 20%);
    }
  }
}


// background colors

.bg {

  &--dark {
    background-color: $color-dark;
  }

  &--grey {
    background-color: #ccc;
  }

  &--lightgrey {
    background-color: #eee;
  }

  &--white {
    backrgound-color: #fff;
  }

  &--black {
    background-color: #000;
  }

  &--prime, &--color1 {
    background-color: $color1;

    &--darken {
      background: darken($color1, 20%);
    }

    &--lighten {
      background: lighten($color1, 20%);
    }

  }

  &--second, &--color2 {
    background-color: $color2;

    &--darken {
      background: darken($color2, 20%);
    }

    &--lighten {
      background: lighten($color2, 20%);
    }

  }

  &--tertiary, &--color3 {
    background-color: $color3;

    &--darken {
      background: darken($color3, 20%);
    }

    &--lighten {
      background: lighten($color3, 20%);
    }

  }

  &--color4 {
    background-color: $color4;

    &--darken {
      background: darken($color4, 20%);
    }

    &--lighten {
      background: lighten($color4, 20%);
    }

  }

}

