// Container styles

.container {
  width: 95%;
  max-width: $container-base-max-width;
  margin: $container-base-margin;

  &--small {
    max-width: $container--small-max-width;
  }

  &--medium {
    max-width: $container--medium-max-width;
  }

  &--large {
    max-width:  $container--large-max-width;
  }

  &--xlarge {
    max-width: $container--xlarge-max-width;
  }

  &--full {
    width: 100%;
    max-width: $container--full-max-width;
  }
}