
@include create-columns-classes();

@media (min-width: $screen-xs) {
  @include create-columns-classes((
          colClass: 'col-xs'
  ));
}

@media (min-width: $screen-s) {
  @include create-columns-classes((
          colClass: 'col-s'
  ));
}

@media (min-width: $screen-m) {
  @include create-columns-classes((
          colClass: 'col-m'
  ));
}

@media (min-width: $screen-ml) {
  @include create-columns-classes((
          colClass: 'col-ml'
  ));
}

@media (min-width: $screen-l) {
  @include create-columns-classes((
          colClass: 'col-l'
  ));
}

@media (min-width: $screen-xl) {
  @include create-columns-classes((
          colClass: 'col-xl'
  ));
}

@media (min-width: $screen-xxl) {
  @include create-columns-classes((
          colClass: 'col-xxl'
  ));
}

%col-demo {
  min-height: 5rem;
  background-color: deepskyblue;
  border: 1px solid #fff;
  color: darken(deepskyblue, 20%);
  display: flex;
  font-size: 1.1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


[class*="col-"] {
}

.module-grid--demo {
  [class*="col-"] {
    @extend %col-demo;
  }
}

* {
  box-sizing: border-box;
}


.row {

  flex-wrap: wrap;

  &.sm-flex {

    display: flex;

  }

  @media (min-width: $screen-xs ) {

    display: flex;

  }

  // Flex wrap modifiers

  &--wrap {

    flex-wrap: wrap;

  }



  &--nowrap {

    flex-wrap: nowrap;

  }



  // Flex-direction modifiers

  // row / column



  &--fd-row {

    flex-direction: row;



    &--reverse {

      flex-direction: row-reverse;

    }

  }



  &--fd-column {

    flex-direction: column;



    &--reverse {

      flex-direction: column-reverse;

    }

  }



  // Align items modifiers

  // align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit



  &--ai-center {

    align-items: center;



  }



  &--ai-start {

    align-items: flex-start;

  }



  &--ai-end {

    align-items: flex-end;

  }



  &--ai-stretch {

    align-items: stretch;

  }



  &--ai-baseline {

    align-items: baseline;

  }



  &--ai-initial {

    align-items: initial;

  }



  &--ai-inherit {

    align-items: inherit;

  }





  // Justify-content modifiers

  // justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;



  &--jc-center {

    justify-content: center;

  }



  &--jc-start {

    justify-content: flex-start;

  }



  &--jc-end {

    justify-content: flex-end;

  }



  &--jc-space-between {

    justify-content: space-between;

  }



  &--jc-space-around {

    justify-content: space-around;

  }



  &--jc-initial {

    justify-content: initial;

  }



  &--jc-inherit {

    justify-content: inherit;

  }



}
