// Labels styles
.label {
  background: #ccc;
  color: #777;
  border-radius: 5px;
  padding: 6px 10px;
  box-shadow: none;
  font-size: 1.4rem;
  line-height: 100%;
  text-align: center;
  &:hover {
    background-color: $color1;
    color: #fff;
  }
}