// Links styles
a, .link {

  display: inline-block;
  color: $link-base-color;
  text-decoration: $link-base-text-decoration;
  transition: all $link-base-transition-duration ease;

  &:hover, &:focus {
    color: $link-base-color--hover;
    text-decoration: $link-base-text-decoration--hover;
  }

  .bg--dark &,
  .bg--black & {
    color: darken($link-base-color--hover, 10%);

    &:hover, &:focus {
      color: $link-base-color--hover;

    }

  }
}