html {
  font-size: 62.5%;
}


body {
  font-family: $font-sans-serif;
  font-size: 1.6rem;
}

.title--1--xlarge {
  font-size: 6.4rem;
}

h1, .title--1 {
  font-family: $font-serif;
  font-size: 2.4rem;
  @media (min-width: $screen-ml) {
    font-size: 4.2rem;
  }
}

h2, .title--2 {
  font-family: $font-serif;
  font-size: 2rem;
  @media (min-width: $screen-ml) {
    font-size: 3.6rem;
  }
}

h3, .title--3 {
  font-family: $font-serif;
  font-size: 1.9rem;
  @media (min-width: $screen-ml) {
    font-size: 3.1rem;
  }
}

h4, .title--4 {
  font-family: $font-serif;
  font-size: 1.8rem;
  @media (min-width: $screen-ml) {
    font-size: 2.5rem;
  }
}

h5, .title--5 {
  font-family: $font-serif;
  font-size: 1.8rem;
  @media (min-width: $screen-ml) {
    font-size: 2.0rem;
  }
}

h6, .title--6 {
  font-family: $font-serif;
  font-size: 1.6rem;
  @media (min-width: $screen-ml) {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.6rem;
  margin: 0 0 10px 0;
}

small {
  font-size: 1.2rem;
}

strong {
  font-weight: bold;
}

// Special big text
.text--mega {
  font-size: 6rem;

  @media (min-width: $screen-s) {
    font-size: 8rem;
  }

  @media (min-width: $screen-m) {
    font-size: 10rem;
  }

  @media (min-width: $screen-ml) {
    font-size: 12.6rem;
  }

  @media (min-width: $screen-l) {
    font-size: 19.6rem;
  }

}

.text--giga {
  font-size: 8rem;

  @media (min-width: $screen-s) {
    font-size: 10rem;
  }

  @media (min-width: $screen-m) {
    font-size: 12rem;
  }

  @media (min-width: $screen-ml) {
    font-size: 18rem;
  }
  @media (min-width: $screen-l) {
    font-size: 28rem;
  }
}