.fe--checkbox {
  position: relative;
}

.input--checkbox {
  @extend %inputHidden;
  position: absolute;

  + label {
    padding-left: 30px;
    position: relative;
    margin: 0;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 1.6rem;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10px;
      background: #fff;
      color: $color-success;
      box-shadow: 0 0 0 2px $color-dark;

      .form--inverted & {
        box-shadow: 0 0 0 2px $color1;
        background: transparent;
        color: $color1;
      }
    }
  }

  &:checked {
    + label:before {
      content: '✔';
    }
  }

  &:focus {

    + label {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
      /* --------------------------------------------------------------
        * WebKit gets its native focus styles.
        * Reference : https://ghinda.net/article/mimic-native-focus-css/
       -------------------------------------------------------------- */
      @media (-webkit-min-device-pixel-ratio:0) {

        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
      }
    }
  }

}