.fieldset {
  border: 2px solid desaturate(lighten($color-dark, 80%), 100%);
  padding: 0 map_get($base_grid_configuration, gutter) * 4 map_get($base_grid_configuration, gutter) * 4 map_get($base_grid_configuration, gutter) * 4;

  .form--inverted & {
    border-color: rgba(#fff, 0.05);
  }

  + .fieldset {
    margin-top: 40px;
  }
}

.fieldset__legend {
  font-family: $font-serif;
  font-style: italic;
  background: $color1;
  padding: 10px map_get($base_grid_configuration, gutter) * 2;
  font-size: 2rem;
}