%inputBox {
  padding: map_get($base_grid_configuration, gutter) * 1.5 map_get($base_grid_configuration, gutter);
  border: none;
  border-bottom: 2px solid lighten(desaturate($color-dark, 60%), 40%);
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  font-family: $font-sans-serif;
  font-size: 1.8rem;
  transition: all 200ms ease;

  .form--inverted & {
    border-color: $color1;
    background: transparent;
    color: #fff;
  }

  &:focus {
    outline: none;
    border-color: $color1;
    box-shadow: 0 1px 0 0 $color1;
  }

  .fe--invalid & {
    border-color: $color-error;

    &:focus {
      box-shadow: 0 1px 0 0 $color-error;
    }
  }

  &::placeholder {
    font-family: $font-serif;
    font-style: italic;

    .form--inverted & {
      color: #eee;
    }
  }

}

%inputHidden {
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}