.fe-label {
  font-size: 1.6rem;
  margin-top: 0;
  padding: map_get($base_grid_configuration, gutter) 0;
  display: block;

  .fe--invalid & {
    color: $color-error;
    font-weight: bold;
  }
}

.fe-label--checkbox, .fe-label--radio, .fe-label--toggle, .fe-label--toggle-button {
  display: inline-block;
}

.fe-label--toggle {
  line-height: 30px;
  margin: 0;
}

.fe-label--toggle-button, .fe-label--toggle {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.fe-label--toggle-button + .fe-label--toggle {
  margin-left: 10px;
}

.input--toggle + .fe-label--toggle-button {
  margin-left: 10px;
}