.fe--radio {
  position: relative;
}

.input--radio {
  @extend %inputHidden;
  position: absolute;

  + label {
    padding: 0 0 0 20px;
    margin: 0 10px 0 0;
    position: relative;
    line-height: 20px;

    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -7px;
      background: #fff;
      box-shadow: 0 0 0 2px $color-dark;
      border-radius: 50%;

      .form--inverted & {
        box-shadow: 0 0 0 2px $color1;
        background: transparent;
      }
    }

    &:after {
      content: '';
      display: none;
      width: 8px;
      height: 8px;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 3px;
      margin-top: -4px;
      background: #fff;
      background: $color-dark;
      border-radius: 50%;

      .form--inverted & {
        background: $color1;
      }
    }

  }

  &:checked {
    + label:after {
      display: block;
    }
  }


}