.select {
  -webkit-appearance: none;
  border: 2px solid $color-dark;
  padding: 4px 16px 4px 8px;
  border-radius: 0;
  background: transparent;
  font-size: 1.8rem;
  position: relative;
}

.cs-wrapper {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  min-width: 200px;
  z-index: 1;

  &:focus {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }

}

.cs-placeholder {
  padding: 4px 16px 4px 12px;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
  transition: all 200ms ease;
  overflow: hidden;
  position: relative;
  color: $color-dark;
  border-bottom: 2px solid $color-dark;

  .theme--dark & {
    background: $color-dark;
    border: none;
    color: $color1;
  }

  &:after {
    content: '\2630';
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 2rem;
    color: $color-dark;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -15px;

    .theme--dark & {
      color: $color1;
    }
  }

  .cs-wrapper.active & {
    text-indent: -200%;
  }

  .cs-wrapper:focus & {
    border-bottom-color: $color1;
    box-shadow: 0 1px 0 0 $color1;

    .theme--dark & {
      background: lighten($color-dark, 2%);
    }
  }

  .form--inverted & {
    border-color: $color1;
    color: #eee;

    &:after {
      color: $color1;
    }
  }

}

.cs__list {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 102%;
  max-height: 360px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
  transition: none;
  z-index: 1;
  box-sizing: border-box;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #fff;
  color: $color-dark;
  box-shadow: 0 -2px 0 0 $color1, 0 5px 10px 0 rgba($color-dark, 0.2);
  clear: both;

  .theme--dark & {
    background: $color-dark;
    color: #fff;
  }

  .cs-wrapper.active & {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, 0, 0);
    transition: all 400ms ease;
  }

}

.cs__list__item {
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms 200ms ease;

  span {
    display: block;
    padding: 10px 16px;
  }

  .cs-wrapper.active & {
    transform: translateX(0);
    opacity: 1;

    &.current, &:hover {
      span {

        background: rgba(#000, 0.025);
        color: darken($color1, 15%);
        transition: all 200ms ease;

        .theme--dark & {
          background: lighten($color-dark, 2%);
        }
      }
    }
  }



  &.selected {
    color: $color1;
    font-weight: 600;
    background: rgba(#000, 0.05);
  }
}