.fe--toggle {
  position: relative;
  margin: map_get($base_grid_configuration, gutter)  0;
}

.input--toggle {
  @extend %inputHidden;

  + .fe-label--toggle-button {
    width: 60px;
    height: 30px;
    background: #999;
    box-shadow: 0 0 0 2px #eee, inset 0 0 0 8px rgba(#fff, 1);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease;
    cursor: pointer;
    margin: 0;
    padding: 0;

    .form--inverted & {
      background: rgba(#fff, 0.3);
      box-shadow: 0 0 0 2px rgba(#fff, 0.1), inset 0 0 0 8px rgba($color-dark, 1);
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      top: 50%;
      left: 4px;
      margin-top: -12px;
      background: #fff;
      border: 2px solid $color-dark;
      box-sizing: border-box;
      box-shadow: none;
      z-index: 2;
      transition: all 200ms ease;

      .form--inverted & {
        background: $color1;
        border: 3px solid $color-dark;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        left: 6px;
      }

    }

  }

  &:checked {
    + .fe-label--toggle-button {

      background: $color-success;

      &:before {
        transform: translateX(28px);
        .form--inverted & {
          transform: translateX(26px);
        }
      }
    }
  }

}