<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ page_title }} | {{ site_title }}</title>
</head>
<body>
    {% block navigation %}
    {% include 'modules/navigation/main-navigation.html' %}
    {% include 'modules/tags/main-tag-list.html' %}
    {% endblock %}

    <main id="main">


        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>



    </main>

    <script src="/js/App.js"></script>
    {%  block footer %}
    {% include 'modules/footer/site-footer.html' %}
    {% endblock %}

</body>
</html>