// colors
$color-dark: #232c3b;
$color1: mediumpurple;
$color2: #7ee2a8;


// container
$container--small-max-width : 560px;

// Fonts
$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'Lora', serif;

// Link base
$link-base-color: #343434;
$link-base-color--hover: #767676;

// Navbar
$navbar-links-font-family: $font-sans-serif;
$navbar-links-color: $color-dark;
$navbar-links-color-hover: lighten($color-dark, 10%);
$navbar-links-font-size: 1.2rem;

// cards
