@import 'variables';
@import 'bones/bones';
@import 'modules/main-tag-list';
@import 'modules/navbar';
@import 'modules/footer';
@import 'modules/post';
@import 'modules/posts-list';
@import 'modules/other-posts';
@import 'modules/card';

body {
  font-family: $font-serif;
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.posts-list {
  list-style: none;
  padding: 0;
  margin: map_get($base_grid_configuration, gutter) * 2 0 0 0;

  .card__title {
    font-size: 1.6rem;
  }
}

.card {
  display: flex;
  height: calc(100% - #{map_get($base_grid_configuration, gutter) * 2});
  margin-bottom: map_get($base_grid_configuration, gutter) * 2;
}

.post__thumbnail {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}


h1, .title--1, h2, .title--2,h3, .title--3, h4, .title--4, h5, .title--5, h6, .title--6 {
  font-family: $font-sans-serif;
  color: $color-dark;
}

.taglist__item .tag {
  font-family: $font-sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0;
  padding: 6px 10px 4px 10px;
  line-height: 1.2rem;
  background: #f4f4f4;
  letter-spacing: 2px;
  color: #999;

  &:hover {
    background: #eee;
    color: #212121;
  }
}

#main {
  position: relative;
  margin-bottom: 400px;
  background: #fff;
}

