<footer class="site-footer site-footer--dark" id="site-footer">
    <div class="copyright">
        <div class="footer-logo">
            <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <title>{{site_title}}</title>
                <polygon points="360,72 144,72 72,72 72,162 72,360 144,432 144,162 216,162 216,360 288,288 288,162 360,162 360,432 432,360
                    432,162 432,72 "/>
            </svg>
        </div>

        <span>&copy; Simon Patrat - 2017</span>
    </div>
</footer>