// Grid

@function extend($obj, $ext-obj) {
  @return map-merge($obj, $ext-obj);
}

// Column mixin including flex-basis mixin
@mixin create-columns-classes($conf: () ) {
  // Base conf extendable
  $conf: extend((
          $base_grid_configuration
  ), $conf);

  $nbCols: map_get($conf, nbCols);
  $colClass: map_get($conf, colClass);
  $gutter: map_get($conf, gutter);

  // Css
  @for $i from 1 through $nbCols {

    .#{$colClass}--#{$i} {
      padding-left: $gutter;
      padding-right: $gutter;

      .xs-flex & {
        width: ((100 / $nbCols) * $i) * 1%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: ((100 / $nbCols) * $i) * 1%;
      }

      @media (min-width: $screen-xs) {
        width: ((100 / $nbCols) * $i) * 1%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: ((100 / $nbCols) * $i) * 1%;
      }

    }

  }
}
