// Mixins

//----------------------------------------------------------
// Create Helper classes mixins
//----------------------------------------------------------


// flex-basis

@mixin flex-basis ($num) {
  width : $num * 1%;
  flex-basis : $num * 1%;
}

// percent class helpers ( 5 by 5 )

@mixin create-helpers-percent($props) {
  $i: 5;
  @while $i <= 100 {
    .#{$props}-#{$i} {
      #{$props}: $i + px;
    }
    $i: $i+5;
  }
}

@import "grid";